@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&family=Vibes&display=swap');

 #main-nav, body{
	background-color: #ffcaaf;
}
.btn:hover {
	transform: skew(5deg,10deg);
}

.container-fluid{
	padding: 0;
}
.texti {
	font-family: 'Noto Nastaliq Urdu', serif;
}
/*candle page whole*/
#candle-body{
	background-color: #f3ffbd;
}

/*#candle-header,.candle-links{
	background-color: #70c1b3
}*/

/*makroome page whole*/
#makroome-body{
	background-color: #c39fbd;
}

#makroome-header,.makroome-links,#candle-header,.candle-links{
	background-color: #95f1b3
}
/*nav bar and heading*/
#iconi{
	width: 1.7rem;
}

h1 {
	font-family: 'Vibes', cursive;

}

#logo-gereh img{
		width: 100px;
	}
#name-gereh {
	text-shadow: 1px 1px 4px;
}

/*first row*/
/*hover animation*/
.hover1 div img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out
}

.hover1 div:hover img {
	-webkit-transform: scale(1.01);
	transform: scale(1.01);
}


/*second row*/
#second-row-pic-1{
	background-image: url("gerehartstore3.jpg");
	border-radius: 5%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 320px;
	height: 320px;
	position: relative;

}
#second-row-pic-2{
	background-image: url("gerehartstore4.jpg");
	border-radius: 5%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 320px;
	height: 320px;
	position: relative;
}
#second-row-pic-3{
	background-image: url("gerehartstore6.jpg");
	border-radius: 5%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 320px;
	height: 320px;
	position: relative;
}
#second-row-button {
	position: relative;
	top: 70%;
	background-color: #ff1654;
}

#second-row-pic-3, #second-row-pic-2, #second-row-pic-1{
	animation-name: roling;
	animation-duration: 4s;
	animation-delay: 3s;
}



@keyframes roling {
	0% {top: 200px;}
	100% {top: 0px;}
}


/*for index5.html*/
*/.carousel-item{
	height: 600px;
}
/*.container{
	width: 100%;
}*/




/*media*/
@media (min-width: 1200px) {

	/*candle page*/
	.candle-page-img{
		width: 250px;
	}
}
@media (max-width: 1200px){
	/*candle page*/
	.candle-page-img{
		width: 150px;
	}
}

@media (max-width: 992px){
	/*candle page*/
	.candle-page-img{
		width: 200px;
	}
}

@media (max-width: 576px) {
	#logo-gereh img{
		width: 50px;
	}

	#name-gereh{
		font-size: 16px;
		font-weight: bold;
	}
	h2{
		padding-top: 10px;
		padding-right: 20px;
	}
	#iconi{
	width: 1rem;
	}

	#links{
		font-size: .8rem;
	}

	/*candle page*/
	.candle-page-img{
		width: 150px;
	}
}
